.mat-button-toggle-label-content {
  height: 100%;
}
.mat-dialog-container{
  overflow: inherit !important;
}
.timer {
  padding: 0px !important;
  min-width: 40px !important;
}
.activity-select.mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper {
  margin-bottom: 0px !important;
}

.card-content {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}