<div class="flex flex-col max-w-160 md:min-w-120 max-h-screen -m-6">

  <!-- Header -->
  <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
    <div class="text-lg font-medium">Change Password</div>
    <button
      mat-icon-button
      (click)="discard()"
      [tabIndex]="-1">
      <mat-icon
        class="text-current"
        [svgIcon]="'heroicons_outline:x'"></mat-icon>
    </button>
  </div>

  <!-- Change Password form -->
  <form
    class="flex flex-col flex-auto p-3 sm:p-5 overflow-y-auto"
    (submit)="changePassword()"
    [formGroup]="passwordForm">

    <span>
      To change password complete both fields and then click on "Change password"
      otherwise click on Cancel to keep the existing password.
    </span>
    <span class="italic font-medium mb-3">
      Passwords must be at least 6 characters long.
    </span>
    <mat-form-field class="fuse-mat-dense">
      <input
        placeholder="Password"
        matInput
        type="password"
        [formControlName]="'password'">
    </mat-form-field>

    <mat-form-field class="fuse-mat-dense">
      <input
        placeholder="Confirm Password"
        matInput
        type="password"
        [formControlName]="'passwordConfirm'"
        #passwordField>
      <button
        mat-icon-button
        type="button"
        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
        matSuffix>
        <mat-icon
            class="icon-size-5"
            *ngIf="passwordField.type === 'password'"
            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
        <mat-icon
            class="icon-size-5"
            *ngIf="passwordField.type === 'text'"
            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
    </button>
    </mat-form-field>

    <!-- Actions -->
    <div class="flex flex-col sm:flex-row sm:items-center justify-end mt-2 sm:mt-3">

      <div class="flex flex-wrap items-center sm:mt-0">
        <!-- Discard -->
        <button
          class="my-3 sm:m-3"
          mat-stroked-button
          type="button"
          (click)="discard()">
          Cancel
        </button>
        <!-- Send -->
        <button
          class="order-first sm:order-last mr-3"
          mat-flat-button
          type="submit"
          [color]="'primary'">
          Change password
        </button>
      </div>
    </div>
  </form>
</div>
