<!-- Wrapper -->
<div class="flex flex-col flex-auto w-full min-w-0 h-screen">
    <!-- Header -->
    <div class="justify-center fixed flex flex-0 items-center w-full h-16 px-4 md:px-6 z-49 shadow dark:shadow-none dark:border-b bg-card dark:bg-transparent print:hidden">
        <!-- Logo -->
        <div 
            class="flex items-center mx-2 lg:mr-8"
            [routerLink]="['/']"
        >
            <div class="hidden lg:flex">
                <img
                    class="dark:hidden w-20"
                    src="assets/images/logo/kqlogo.png">
                <img
                    class="hidden dark:flex w-20"
                    src="assets/images/logo/kqlogo.png">
            </div>
            <img
                class="flex lg:hidden w-20"
                src="assets/images/logo/kqlogo.png">
        </div>
        <!-- Components -->
        <!-- <div class="flex items-center pl-2 ml-auto space-x-1 sm:space-x-2">
            <fuse-fullscreen class="hidden md:block"></fuse-fullscreen>
            <search [appearance]="'bar'"></search>
            <user [showAvatar]="false"></user>
        </div> -->
    </div>

    <!-- Content -->
    <div class="flex flex-col flex-auto w-full">
        <router-outlet></router-outlet>
    </div>
</div>
