.ps-cls-user {
  color: #3d3db5;
}

.ps-cls-opportunity {
  color: #4caf50;
}

.kq-blue {
  color: #003a96;
}

.kq-green, .kq-green-bright {
  color: #0e9608;
}

.ps-cls-note {
  color: teal;
}

.kq-indigo {
  color: #985ef5;
}

.kq-blue-light {
  color: #325fa8;
}

.ps-cls-project, .ps-cls-projecttask, .ps-cls-task, .ps-cls-timesheet {
  color: #f44336;
}

.ps-cls-candidate {
  color: #ffc107;
}

.ps-cls-webpostado {
  color: #deb9a7;
}

.kq-orange {
  color: #b8855b;
}
