.mat-form-field.mat-form-field-appearance-fill.fuse-mat-dense .mat-form-field-wrapper .mat-form-field-flex {
  min-height: 2rem !important;
}
.mat-select-panel .mat-optgroup-label, .mat-select-panel .mat-option {
  height: 2rem !important;
}
.ngx-pagination {
  margin: 0 0.5rem !important;
}